apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: web-ingress
  namespace: web
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - http:
      paths:
      - backend:
          serviceName: tripviewer
          servicePort: 80
        path: /    
      - backend:
          serviceName: tripviewer
          servicePort: 80
        path: /trip
      - backend:
          serviceName: tripviewer
          servicePort: 80
        path: /userprofile          
